search:
  algorithm: mcts
  algorithm_config:
    C: 1.4
    default_prior: 0.5
    use_prior: True
    prune_cycles_in_search: True
    search_rewards:
      - state score
  max_transforms: 6
  iteration_limit: 100
  return_first: false
  time_limit: 120
  exclude_target_from_stock: True
  break_bonds_operator: or

policy:
  - uspto
  - ringbreaker

expansion:
  uspto:
    type: template-based
    model: ./uspto_model.onnx
    template: ./uspto_templates.csv.gz
    template_column: retro_template
    cutoff_cumulative: 0.995
    cutoff_number: 50
    use_rdchiral: True
    use_remote_models: True
  ringbreaker:
    type: template-based
    model: ./uspto_ringbreaker_model.onnx
    template: ./uspto_ringbreaker_templates.csv.gz
    template_column: retro_template
    cutoff_cumulative: 0.995
    cutoff_number: 50
    use_rdchiral: True
    use_remote_models: True

filter:
  uspto:
    type: quick-filter
    model: ./uspto_filter_model.onnx
    exclude_from_policy: rc
    filter_cutoff: 0.05
    use_remote_models: True

stock:
  zinc:
    type: inchiset
    path: ./zinc_stock.hdf5

